body{
    font-family: 'Kanit', sans-serif;
}

nav{
    background-color: #0c2542;
    font-size: 1.2em;
}
.navbar-toggler-icon{
    background-color: white;
    color: #ffb019;
}
.card-title{
    color: #0c2542;
}